// Add your custom CSS here.
.header__nav > ul{
    list-style-type:none;
    display:flex;
    margin:0;
    justify-content:center;
}
.header__nav a:hover {
    background-color: transparent;
    flex-basis: 100%;
}

.header__nav > ul > li.dropdown{position:relative;}
.header__nav > ul > li.dropdown .dropdown-menu a{
    color:#fff;
    font-size: 12px;
    padding: 10px 15px;
    text-align: left;
    text-transform: uppercase;
}
.header__nav > ul > li.dropdown .dropdown-menu{
    margin: 0px 0 0 0;
    border-radius: 0;
    background: #393939;
    box-shadow: unset;
    outline: none;
    padding: 0;
}
.header__nav > ul > li.dropdown:hover .dropdown-menu{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap !important;
    flex-basis: 100%;
}
#menu-mega {
  .col-12 {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap !important;
    flex-basis: 100%;
  }
  li {
    background: #393939;
  }
}
